.flicker-feed{
  background-color: lighten(black, 5%);
  color: white;

  a{
    color: white;
  }

  &__title{
    @include paddingBorderBox(25px);
  }

  &__photos{
    @include flex(100%, inline-flex, unset, unset);
    flex-wrap: wrap;

    .photo-card{
      @include mobile(){
        flex-basis: 50%;
        min-width: unset;
      }

      &:hover{
        .photo-card__details{
          opacity: 1;
          background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
        }
      }

      &__img{
        float: left;
      }

      &__details{
        opacity: 0;
        @include positioningOffset(absolute, unset, unset, 0, 0);

        &__desc, &__tags{
          display: none;
        }
      }
    }
  }
}

.modal{
  @include positioningOffset(fixed, 0, unset, unset, 0);
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  visibility: hidden;
  z-index: 10;

  &__content{
    @include positioningOffset(absolute, 50%, unset, unset, 50%);
    transform: translate(-50%, -50%);

    @include mobile(){
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
    }
  }

  &.open{
    visibility: visible;
  }

  .photo-card{
    width: 400px;

    @include mobile(){
      width: 100%;
    }

    &__details{
      max-height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    &__desc{
      display: block;
    }
  }
}
