.photo-card{
  position: relative;
  min-width: 200px;
  flex-basis: 20%;
  flex-grow: 1;
  cursor: pointer;
  background-color: lighten(black, 5%);

  &__img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }

  &__details{
    position: relative;
    @include paddingBorderBox(20px);
    &__title, &__author{
      line-height: 1.1;
      text-transform: capitalize;

      a{
        display: inline-block;
      }
    }

    &__title, &__author, img, &__desc{
      padding: 10px 0;
    }

    &__tags{
      span{
        display: inline-block;
        line-height: 1.2;
      }
    }
  }
}
